<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<header th:fragment="headerFragment">
    <div class="container">
        <div class='zeta-menu-bar'>
            <ul class="zeta-menu">
                <li><a href="#">홈</a></li>
                <li><a href="#">게시판</a>
                    <ul>
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">자유게시판</a></li>
                    </ul>
                </li>
                <li><a href="#">마이페이지</a></li>
            </ul>
        </div>
    </div>
</header>
</html>